@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>
<CascadingValue Value="@messageForGrandChild" Name="MessageForGrandChild">
    <CascadingValue Value="@LuckyNumber" Name="GrandParentLucyNumber">
@*<ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as parameter from Parent Component">
    <ChildComponent OnClickBtnMethod="ShowMessage"  Title="This title is passed as parameter from Parent Component"
    MessageForGrandChild="This is a message from Grand Parent" >*@
    <ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as parameter from Parent Component">
        @*<ChildContent>Render Fragment From Parent! WooHoo!</ChildContent>*@
    <DengerChildContent>Danger Content from Render Fragment ! WooHoo!</DengerChildContent>
    </ChildComponent>
    </CascadingValue>
</CascadingValue>
@*<AnotherChildComponent Placeholder="Enter the Room Name From Parent" MaxLength="5"></AnotherChildComponent>
<AnotherChildComponent InputAttributes="InputAttributesFromParent"></AnotherChildComponent>*@
<AnotherChildComponent placeholder="Placeholder default"></AnotherChildComponent>

<p><b>@messageText</b></p>
@*<ChildComponent Title="This is psecond child Component">
</ChildComponent>*@

@code {
    public string LuckyNumber { get; set; } = "7";
    private string messageForGrandChild = "This is a message from Grand Parent";
    private string messageText = "";
    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from Parent";
    }

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required"},
        {"placeholder", "Intial Text"},
        {"maxlength", 5}
    };
    
}
