@inject IJSRuntime JsRuntime
<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if(DengerChildContent == null)
        {
            @if (ChildContent == null)
            {
                <span>Hello, from Empty Render Fragment</span>
            }
            else
            {
                <span>@ChildContent</span>
            }
        }
        else
        {
            <span>@DengerChildContent</span>
        }

    </div>
    <button class="btn btn-danger" @onclick="OnClickBtnMethod">Button to be clicke!</button>
    @*<GrandChildComponent MessageForGrandChild="@MessageForGrandChild"></GrandChildComponent>*@
    <GrandChildComponent></GrandChildComponent>
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment DengerChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickBtnMethod { get; set; }

    @*[Parameter]
    public string MessageForGrandChild { get; set; }*@

    public async Task ShowToasterSuccess()
    {
        await JsRuntime.ToasterSuccess("Wohoo! Success is on its way!");
    }
}
